services:
  connector-cve:
    image: ghcr.io/opencti-platform/opencti/connector-cve:${OPENCTI_VERSION}
    environment:
      - OPENCTI_URL=${OPENCTI_BASE_BACKEND_URL}
      - OPENCTI_TOKEN=${CONNECTOR_TOKEN_CISA_CVE}
      - CONNECTOR_ID=${CONNECTOR_ID_CISA_CVE}
      - CONNECTOR_NAME=Common Vulnerabilities and Exposures
      - CONNECTOR_SCOPE=identity,vulnerability
      - CONNECTOR_RUN_AND_TERMINATE=false
      - CONNECTOR_LOG_LEVEL=error
      - CVE_BASE_URL=https://services.nvd.nist.gov/rest/json/cves
      - CVE_API_KEY=${CONNECTORS_CVE_API_KEY} # Required
      - CVE_INTERVAL=6 # Required, in hours advice min 2
      - CVE_MAX_DATE_RANGE=120 # In days, max 120
      - CVE_MAINTAIN_DATA=true # Required, retrieve only updated data
      - CVE_PULL_HISTORY=false # If true, CVE_HISTORY_START_YEAR is required
      - CVE_HISTORY_START_YEAR=2022 # Required if pull_history is True, min 2019 (see documentation CVE and CVSS base score V3.1)
    networks:
      - opencti-network
    restart: always
    depends_on:
      opencti-backend:
        condition: service_healthy
  connector-cpe:
    image: ghcr.io/opencti-platform/opencti/connector-cpe:${OPENCTI_VERSION}
    environment:
      - OPENCTI_URL=${OPENCTI_BASE_BACKEND_URL}
      - OPENCTI_TOKEN=${CONNECTOR_TOKEN_CISA_CPE}
      - CONNECTOR_ID=${CONNECTOR_ID_CISA_CPE}
      - CONNECTOR_TYPE=EXTERNAL_IMPORT
      - CONNECTOR_NAME=Common Platform Enumeration
      - CONNECTOR_SCOPE=software
      - CONNECTOR_LOG_LEVEL=info
      - CPE_BASE_URL=https://services.nvd.nist.gov/rest/json/cpes/2.0
      - NIST_API_KEY=${CONNECTORS_NIST_API_KEY} # Required
      - CPE_INTERVAL=6h # Required, in hours advice min 6
    networks:
      - opencti-network
    restart: always
    depends_on:
      opencti-backend:
        condition: service_healthy
  connector-cisa-known-exploited-vulnerabilities:
    image: ghcr.io/opencti-platform/opencti/connector-cisa-known-exploited-vulnerabilities:${OPENCTI_VERSION}
    environment:
      - OPENCTI_URL=${OPENCTI_BASE_BACKEND_URL}
      - OPENCTI_TOKEN=${CONNECTOR_TOKEN_CISA_KEV}
      - CONNECTOR_ID=${CONNECTOR_ID_CISA_KEV}
      - "CONNECTOR_NAME=CISA Known Exploited Vulnerabilities"
      - CONNECTOR_SCOPE=cisa
      - CONNECTOR_RUN_AND_TERMINATE=false
      - CONNECTOR_LOG_LEVEL=error
      - CISA_CATALOG_URL=https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json
      - CISA_CREATE_INFRASTRUCTURES=false
      - CISA_TLP=TLP:CLEAR
      - CISA_INTERVAL=2 # In days, must be strictly greater than 1
    networks:
      - opencti-network
    restart: always
    depends_on:
      opencti-backend:
        condition: service_healthy
networks:
  opencti-network:
    driver: bridge